
node_modules/
package-lock.json
yarn.lock

env/
venv/
*.pyc
__pycache__/

MyAppData/
images/
thumbnails/

assets/initial_images/
assets/thumbnails/

dist/
build/

test.db

*.log
npm-debug.log
yarn-debug.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*.sublime-*

.env
.env.local

*.tmp
*.temp
